.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
}

.card {
  margin: 16px;
  width: 450px;
  background: #efefef;
  padding: 16px;
  box-sizing: border-box;
}

.card--style--13 {
  background: #C54032;
  color: #fff;
}

.card--style--22 {
  background: #201082;
  color: #fff;
}

.card--title {
  text-transform: uppercase;
  padding: 0 0 16px 0;
}

.card--candidato {
  display: flex;
  justify-content: space-between;
}

.card--candidato--name {
  font-weight: bold;
}

.card--candidato--votes span {
  font-size: 11px;
}